<%-include('./includes/_header') %>
<%- include('./includes/_navbar.ejs') %>
        <div class="forms mx-3">
            <form action="/article/new-article" method="post">
                <%- include('./includes/_forms.ejs') %>
            </form>

        </div>


<%- include('./includes/_footer')%>